.DS_Store
*.pidb
SpicyPixel.Threading.Unity/bin
SpicyPixel.Threading/bin
*.userprefs
System.Threading/bin
Doxygen/html
Doxygen/latex
ConcurrencyKit.Documentation/Help
SpicyPixel.Threading.Test/bin
SpicyPixel.Threading.Unity.Test/bin
SpicyPixel.Threading.Test/test-results
ConcurrencyKit.Unity/Library
ConcurrencyKit.Unity/Temp
test-results
#ConcurrencyKit.Unity/Assets/Spicy Pixel/Assemblies
SpicyPixel.Threading.Unity/obj
*.suo
ConcurrencyKit.Unity/ConcurrencyKit.Unity-csharp.sln
ConcurrencyKit.Unity/ConcurrencyKit.Unity.sln
ConcurrencyKit.Unity/Assembly-CSharp-Editor-vs.csproj
ConcurrencyKit.Unity/Assembly-CSharp-Editor.csproj
ConcurrencyKit.Unity/Assembly-CSharp-vs.csproj
ConcurrencyKit.Unity/Assembly-CSharp.csproj
