.DS_Store
*.pidb
*.userprefs
*.suo
Doxygen/html
Doxygen/latex
Source/*/bin
Source/*/obj
Source/*/test-results
node_modules
*.qch
TestResult.xml
Doxygen/xml
MonoDoc/assemble
MonoDoc/html
MonoDoc/xml
npm*.log