.DS_Store
*.pidb
*.userprefs
*.suo
Doxygen/html
Doxygen/qt
Doxygen/latex
Doxygen/xml
Source/*/bin
Source/*/obj
Source/*/test-results
node_modules
TestResult.xml
MonoDoc/assemble
MonoDoc/html
MonoDoc/xml
npm-debug.log
.browse.VC.db
